{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Academic Institution Website</title>
     <link rel="stylesheet" type="text/css" href="{% static 'courses/style.css' %}">
</head>
<body>

    <div class="main-box">
        <h1>Welcome to Our Academic Institution</h1>
        <p>Please enter a topic to explore:</p>

        <form>
            <input type="text" id="topicInput" placeholder="Enter the topic">
            <button type="submit">Submit</button>
        </form>
    </div>

</body>
</html>
